@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eGlory Vidly</h1>
    <p class="lead">
        eGlry Vidly app is a web based solution that
        authenticate and authorize valid users books their favourite movies online. It give the admin the ability to create and manage new and existing users, retals and movies.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Rentals</h2>
        <p>
            Привет, друг,
            Aliexpress Top 100 Торговая неделя бренда.
            Никогда не пропустите!
            Даже 25% скидка и более бесплатный подарок для счастливых клиентов.
            Давайте раскачиваться на Big promotion! 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies </h2>
        <p>Привет, друг,
Aliexpress Top 100 Торговая неделя бренда.
Никогда не пропустите!
Даже 25% скидка и более бесплатный подарок для счастливых клиентов.
Давайте раскачиваться на Big promotion! </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Membership</h2>
        <p>Привет, друг,
Aliexpress Top 100 Торговая неделя бренда.
Никогда не пропустите!
Даже 25% скидка и более бесплатный подарок для счастливых клиентов.
Давайте раскачиваться на Big promotion! </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>